<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
           
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

                    <link rel="stylesheet" href="cliente.css">
                        <title>Cliente</title>
                        </head>

                        <body>
                            <div class="container-fluid bg-light text-center p-3">
                                <img src="imagens/logo.png" class="img-fluid" alt="Logo">
                            </div>

                            <div class="container-fluid">
                                <div class="row">
                                    <div id="menu" class="col-md-3   ">
                                        <ul class="list-group">
                                            <li class="list-group-item  border-0"><a href="agenda.html" th:href="@{/}">Inicio</a></li>
                                            <li class="list-group-item  border-0"><a href="agendamento.html" th:href="@{/agendamento}">Agendamento</a></li>
                                            <li class="list-group-item   border-0"><a href="cliente.html" th:href="@{/cliente}">Cliente</a></li>
                                            <li class="list-group-item   border-0"><a href="profissional.html" th:href="@{/profissional}">Profissional</a></li>
                                            <li class="list-group-item   border-0"><a href="servico.html" th:href="@{/servico}">Serviço</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="container mt-3">
                                            <h1 class="text-left">Cliente</h1>
                                            <form th:action="@{/cliente-salvar}" th:object="${cliente}" method="post" enctype="multipart/form-data" >
                                               
                                                <div class="row mb-3">
                                                    <div id="nomeDiv" class="col-md-6">
                                                        <label for="inputNomeCompleto" class="form-label">Nome Completo*</label>
                                                        <input type="text" th:field="*{nome_Completo}" class="form-control" id="inputNomeCompleto"  required="required">
                                                    </div>
                                                    <div id="dataDiv" class="col-md-3">
                                                        <label for="inputDataNascimento" class="form-label">Data de Nascimento:</label>
                                                        <input type="date" class="form-control" id="inputDataNascimento" th:field="*{data_De_Nascimento}" required="required">
                                                    </div>
                                                </div>

                                                <div class="row mb-3 justify-content-end">
                                                    <div id="emailDiv" class="col-md-4">
                                                        <label for="inputEmail" class="form-label">Email:</label>
                                                        <input type="email" class="form-control" id="inputEmail" th:field="*{email}" required="required">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div id="celDiv" class="col-md-6">
                                                        <label for="inputCelular" class="form-label">Celular*</label>
                                                        <input type="tel" class="form-control" id="inputCelular" th:field="*{celular}" required="required">
                                                    </div>
                                                    <div id="endeDiv" class="col-md-6">
                                                        <label for="inputEndereco" class="form-label">Endereço:</label>
                                                        <input type="text" class="form-control" id="inputEndereco" th:field="*{endereco}" required="required">
                                                    </div>
                                                </div>

                                                <div class="row mb-3 justify-content-end">
                                                    <div id="cepDiv" class="col-md-4">
                                                        <label for="inputCEP" class="form-label">CEP:</label>
                                                        <input type="text" class="form-control" id="inputCEP" th:field="*{cep}" required="required">
                                                    </div>
                                                </div>

                                                <div id="campoAdicionar" class="row d-flex justify-content-between">
                                                    <div class="col-sm-8">
                                                        <button type="submit" class="btn btn-primary">CADASTRAR</button>
                                                    </div>
                                                    <div class="col-sm-4 text-right">
                                                        <p class="text-muted mt-2">(*) Campos obrigatórios</p>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <footer class="footer mt-5 bg-light text-center p-3">
                                <div class="float-left">
                                    <img th:src="@{/imagens/logo.png}" class="img-fluid" alt="Logo Rodapé">
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="#"><img th:src="@{/imagens/instagram.png}" alt="Instagram"></a>
                                    <a href="#"><img th:src="@{/imagens/whatsapp.png}" alt="WhatsApp"></a>
                                    <a href="#"><img th:src="@{/imagens/facebook.png}" alt="Facebook"></a>
                                </div>
                            </footer>
                        </body>

                        </html>
